.spinnerContainer {
  @include flex-center;
  @include flex-column;
  min-height: 50vh;
  gap: 1rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid var(--color-elements);
  border-top-color: hsl(271, 76%, 53%);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
